<heml>
  <%- include('partial/header.heml') %>
  <body>
    <div class="container-fluid">
      <%- include('partial/email-title.heml') %>

      <div class="email-body">
        <div class="body-header">
          <p class="welcome-user text-center">Hi <b>Ankur,</b></p>
          <h1 class="text-center">FORGET YOUR PASSWORD?</h1>

          <div class="blue-background"><img class="alarm-icon" src="https://storage.googleapis.com/site-granny/images/padlock.png"/></div>

        </div>
        <div class="email-message email-style ">
          <p class="grey-font">
              No need to worry. To reset your password, click the button below. This link will expire in 24 hours.
          </p>
          <p class="grey-font">
            If this is not you or have not requested then please ignore this email.
          </p>
        </div>

        <button><span class="setup-btn"><b>RESET PASSWORD</b></span></button>
      </div>

      <%- include('partial/email-footer.heml') %>
    </div>
  </body>
</heml>
