<heml>
  <%- include('partial/header.heml') %>
  <body>
    <div class="container-fluid">
      <%- include('partial/email-title.heml') %>

      <div class="email-body">
        <div class="body-header">
          <p class="welcome-user text-center">Hi <b>Ankur,</b></p>
          <h1 class="text-center">THANK YOU FOR BEING PART OF SITE HAWK FAMILY</h1>

          <div class="blue-background"><img class="alarm-icon" src="https://storage.googleapis.com/site-granny/images/calendar-with-a-clock-time-tools.png"/></div>

        </div>
        <p class="email-message email-style text-center grey-font">
          Your subscription for {{.Body.Site}} has been ended. Click the button to update your subscription.
        </p>
        <button><span class="setup-btn"><b>SUBSCRIBE</b></span></button>
      </div>

      <%- include('partial/email-footer.heml') %>
    </div>
  </body>
</heml>
